.nav {
  margin-bottom: 1rem;

  .selected {
    background-color: dodgerblue;
  }
}

.item-button {
  width: 15rem;
  margin-bottom: 0.5rem;
}

.department {
  margin: 2rem 0;
}

.department-header {
  margin: 0;
}