.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #242424;
  z-index: 1;

  .selected {
    background-color: dodgerblue;
  }
}

.item-button {
  width: 15rem;
  margin-bottom: 0.5rem;
}

.department {
  margin: 2rem 0;
}

.department-header {
  margin: 0;
}

.faded {
  text-decoration: line-through;
  opacity: 0.6;
}

.item-clear {
  margin-left: 0.75rem;;
}